@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'GmarketSansMedium', sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
}

/* Header */
header {
  position: fixed;
  width: 100%;
}

/* Navigation */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background-color: #f8f9fa;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
nav a {
  text-decoration: none;
  color: #000;
}
.nav-links {
  font-weight: 700;
  font-size: larger;
}


.space {
  height: 100px;
}

#right {
  border: none;
  background-color: #f8f9fa;
  box-shadow: none;
  cursor: pointer;
}
#right:active {
  float: left;
  background-color: #ccc;
  border-radius: 20px;
  box-shadow: 3px 3px 3px black;
  transition-duration: 0.1s;
}

.button-text {
  font-family: 'GmarketSansMedium', sans-serif;
  font-size: large;
}

/* Main */
.container {
  display: flex;
  flex-direction: row; /* 가로 정렬로 변경 */
  align-items: center;
  justify-content: center; /* 중앙 정렬 */
  gap: 50px; /* 요소 간 간격 조정 */
}
.myface img {
  width: 400px; /* 이미지 크기 조정 */
  border-radius: 10%;
}
.stack {
  display: flex;
  align-items: center;
  gap: 20px;
}
.stack div {
  text-align: center;
}
.stack img {  
  width: 100px;
  height: auto;
}
.stack-item img {
  width: 100px;
  height: auto;
}

.stack-achievements-p {
  display: none;
}
.stack-qualifications-p {
  display: none;
}
/* Footer */
footer {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: center;
}
.contact-header {
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
}
.contact-item {
  text-align: center;
  justify-content: center;
}
.contact-item a{
  text-decoration: none;
  color: #000;
}
.contact-item p {
  text-decoration: none;
}
.contact-item img {
  width: 50px;
  height: auto;
  justify-content: center;
}

@media (max-width: 1143px) {
  .container {
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  * {
    text-align: center;
  }
  .myface img {
    width: 300px;
    padding-top: 30px;
  }
  .stack img {
    width: 80px;
  }
  .stack-item img {
    width: 80px;
  }
  .contact-item img {
    width: 40px;
  }
  .stack-achievements-p {
    display: block;
  }
  .stack-achievements-li {
    display: none;
  }
  .stack-qualifications-p {
    display: block;
  }
  .stack-qualifications-li {
    display: none;
  }
  .nav-links {
    display: none;
  }
  #maface {
    margin: 10px;
    width: 80%;
  }
}